In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import time

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/zeerakb1/dataset/main/tv_shows.csv', index_col='Unnamed: 0')
# reading a CSV file into a data frame
df  # if we end a cell with an expression or variable name, the result will print the data frame

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [ ]:
df["IMDb"].str.replace('/10', '')
df["IMDb"]=df["IMDb"].str.replace('/10', '')
#another way to do this

In [ ]:
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [ ]:
df["IMDb"]=df["IMDb"].astype(float)

In [ ]:
#Another way to remove a part of string
x=df["Rotten Tomatoes"].str.split("/", expand=True)
x
x[0]
df["Rotten Tomatoes"]=x[0]
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4,100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7,96,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0,95,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8,94,1,0,0,0,1
4,5,Dark,2017,16+,8.8,93,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,NaN,NaN,10,0,0,0,1,1
5364,5714,Mexico Untamed,2018,NaN,NaN,10,0,0,0,1,1
5365,5715,Wild Centeral America,2020,NaN,NaN,10,0,0,0,1,1
5366,5716,Wild Russia,2018,NaN,NaN,10,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10,0,0,0,1,1

In [ ]:
df["IMDb"] = df["IMDb"]*10
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,94.0,100,1,0,0,0,1
1,2,Stranger Things,2016,16+,87.0,96,1,0,0,0,1
2,3,Attack on Titan,2013,18+,90.0,95,1,1,0,0,1
3,4,Better Call Saul,2015,18+,88.0,94,1,0,0,0,1
4,5,Dark,2017,16+,88.0,93,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,NaN,NaN,10,0,0,0,1,1
5364,5714,Mexico Untamed,2018,NaN,NaN,10,0,0,0,1,1
5365,5715,Wild Centeral America,2020,NaN,NaN,10,0,0,0,1,1
5366,5716,Wild Russia,2018,NaN,NaN,10,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10,0,0,0,1,1

In [ ]:
uniqueyear=df["Year"].unique()

for i in uniqueyear:

  z=df[df["Year"]== i]
  z["IMDb"].mean()
  print (i, z["IMDb"].mean())

2008 68.0875
2016 71.48424068767908
2013 71.2388888888889
2015 72.7841726618705
2017 71.02902374670185
2005 68.81944444444444
2010 71.54887218045113
2011 71.70833333333333
2020 69.57543103448276
2009 68.38679245283019
2019 70.22912205567452
2018 70.5916114790287
2014 72.1725888324873
2003 69.05882352941177
2021 67.88888888888889
1987 70.6923076923077
2006 70.31944444444444
1999 75.84848484848484
2012 70.9
2000 73.53846153846153
1966 76.5
1995 75.57142857142857
2002 69.38888888888889
1969 79.6
1993 72.80952380952381
1997 70.5909090909091
2004 72.09433962264151
2007 69.3731343283582
2001 72.08571428571429
1996 70.95238095238095
1998 71.96666666666667
1984 73.5
1986 73.75
1994 72.2
1983 74.77777777777777
1981 70.57142857142857
1989 71.73333333333333
1992 68.63636363636364
1990 74.91666666666667
1972 82.33333333333333
1959 82.0
1982 73.8
1991 71.35714285714286
1975 63.25
1985 73.7
1988 73.23076923076923
1951 78.0
1978 74.42857142857143
1955 77.16666666666667
1977 74.66666666666667
1964 74.5
1970 78.0
1961 76.5
1934 86.0
1963 69.0
1971 78.66666666666667
1973 76.0
1967 77.8
1960 73.0
1962 73.0
1976 76.5
1968 79.66666666666667
1980 74.44444444444444
1974 78.5
1953 69.66666666666667
1931 nan
1952 82.5
1965 80.5
1954 74.0
1979 69.5
1957 73.66666666666667
1958 74.0
1948 78.0
1943 nan
1932 nan
1947 nan
1904 nan
1945 nan

In [ ]:
df.groupby("Year").agg({"IMDb":"mean", "Rotten Tomatoes": ["max", "mean"]})

           IMDb Rotten Tomatoes
           mean             max  mean
Year
1904        NaN              17  17.0
1931        NaN              30  30.0
1932        NaN              23  23.0
1934  86.000000              62  62.0
1943        NaN              36  36.0
...         ...             ...   ...
2017  71.029024              93   inf
2018  70.591611              89   inf
2019  70.229122              94   inf
2020  69.575431              92   inf
2021  67.888889              95   inf

[78 rows x 3 columns]

In [ ]:
df.shape
df.shape[0]

5368

In [ ]:
df
x=df.isnull().sum()
x
for i in x:
  # print(i)
  y= i/df.shape[0]*100
  print(y)
# df.shape

0.0
0.0
0.0
39.62369597615499
17.92101341281669
0.0
0.0
0.0
0.0
0.0
0.0

In [ ]:
df["Age"].value_counts()

16+    995
18+    854
7+     831
all    552
13+      9
Name: Age, dtype: int64

In [ ]:
df
mod=df["Age"].mode()
mod
df["Age"]=df["Age"].fillna(mod[0])
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,94.0,100,1,0,0,0,1
1,2,Stranger Things,2016,16+,87.0,96,1,0,0,0,1
2,3,Attack on Titan,2013,18+,90.0,95,1,1,0,0,1
3,4,Better Call Saul,2015,18+,88.0,94,1,0,0,0,1
4,5,Dark,2017,16+,88.0,93,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,16+,NaN,10,0,0,0,1,1
5364,5714,Mexico Untamed,2018,16+,NaN,10,0,0,0,1,1
5365,5715,Wild Centeral America,2020,16+,NaN,10,0,0,0,1,1
5366,5716,Wild Russia,2018,16+,NaN,10,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,16+,NaN,10,0,0,0,1,1

In [ ]:
df["IMDb"].mean()

70.86019064911484

In [ ]:
df

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,94.0,100,1,0,0,0,1
1,2,Stranger Things,2016,16+,87.0,96,1,0,0,0,1
2,3,Attack on Titan,2013,18+,90.0,95,1,1,0,0,1
3,4,Better Call Saul,2015,18+,88.0,94,1,0,0,0,1
4,5,Dark,2017,16+,88.0,93,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,16+,NaN,10,0,0,0,1,1
5364,5714,Mexico Untamed,2018,16+,NaN,10,0,0,0,1,1
5365,5715,Wild Centeral America,2020,16+,NaN,10,0,0,0,1,1
5366,5716,Wild Russia,2018,16+,NaN,10,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,16+,NaN,10,0,0,0,1,1

In [ ]:
xd=pd.read_csv('https://raw.githubusercontent.com/zeerakb1/dataset/main/tv_shows.csv', index_col='Unnamed: 0')

In [ ]:
def fun(x):
  if pd.isna(x.IMDB) :

    x["IMDb"]=x["Rotten Tomattoes "]

    return x

In [ ]:
 df=df.apply(lambda var : fun(var) , axis =1)

AttributeError: ignored

In [ ]:
newwwwdf = pd.read_csv('https://raw.githubusercontent.com/zeerakb1/dataset/main/tv_shows.csv', index_col='Unnamed: 0')
newwwwdf

# newwwwdf["Age"].fillna( method="ffill", inplace=True) forward fill
newwwwdf["Age"].fillna( method="bfill", inplace=True) #Backward fill

newwwwdf